<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-game-heading">Create or edit a Game</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_maxPlayers">Max Players</label>
                    <input type="number" class="form-control" name="maxPlayers" id="field_maxPlayers"
                           formControlName="maxPlayers"/>
                    <div *ngIf="editForm.get('maxPlayers')!.invalid && (editForm.get('maxPlayers')!.dirty || editForm.get('maxPlayers')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maxPlayers')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('maxPlayers')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_state">State</label>
                    <select class="form-control" name="state" formControlName="state" id="field_state">
                        <option value="THINK_PHASE">THINK_PHASE</option>
                        <option value="VOTE_PHASE">VOTE_PHASE</option>
                        <option value="GUESSING_PHASE">GUESSING_PHASE</option>
                    </select>
                    <div *ngIf="editForm.get('state')!.invalid && (editForm.get('state')!.dirty || editForm.get('state')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('state')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_numberOfRounds">Number Of Rounds</label>
                    <input type="number" class="form-control" name="numberOfRounds" id="field_numberOfRounds"
                           formControlName="numberOfRounds"/>
                    <div *ngIf="editForm.get('numberOfRounds')!.invalid && (editForm.get('numberOfRounds')!.dirty || editForm.get('numberOfRounds')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberOfRounds')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numberOfRounds')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateCreated')!.invalid && (editForm.get('dateCreated')!.dirty || editForm.get('dateCreated')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateCreated')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateCreated')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateModified">Date Modified</label>
                    <div class="d-flex">
                        <input id="field_dateModified" type="datetime-local" class="form-control" name="dateModified" formControlName="dateModified" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateModified')!.invalid && (editForm.get('dateModified')!.dirty || editForm.get('dateModified')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateModified')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateModified')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
