<div>
    <h2 id="page-heading">
        <span>Games</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-game" [routerLink]="['/game/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Game
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="games?.length === 0">
        <span>No games found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="games?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maxPlayers"><span>Max Players</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="state"><span>State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numberOfRounds"><span>Number Of Rounds</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span>Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateModified"><span>Date Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of games ;trackBy: trackId">
                    <td><a [routerLink]="['/game', game.id, 'view']">{{ game.id }}</a></td>
                    <td>{{ game.maxPlayers }}</td>
                    <td>{{ game.state }}</td>
                    <td>{{ game.numberOfRounds }}</td>
                    <td>{{ game.dateCreated | date:'medium' }}</td>
                    <td>{{ game.dateModified | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/game', game.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/game', game.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(game)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="games?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
