<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="game">
            <h2><span>Game</span> {{ game.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Max Players</span></dt>
                <dd>
                    <span>{{ game.maxPlayers }}</span>
                </dd>
                <dt><span>State</span></dt>
                <dd>
                    <span>{{ game.state }}</span>
                </dd>
                <dt><span>Number Of Rounds</span></dt>
                <dd>
                    <span>{{ game.numberOfRounds }}</span>
                </dd>
                <dt><span>Date Created</span></dt>
                <dd>
                    <span>{{ game.dateCreated }}</span>
                </dd>
                <dt><span>Date Modified</span></dt>
                <dd>
                    <span>{{ game.dateModified }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/game', game.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
