<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-round-heading">Create or edit a Round</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_iteration">Iteration</label>
                    <input type="number" class="form-control" name="iteration" id="field_iteration"
                           formControlName="iteration"/>
                    <div *ngIf="editForm.get('iteration')!.invalid && (editForm.get('iteration')!.dirty || editForm.get('iteration')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('iteration')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('iteration')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateCreated')!.invalid && (editForm.get('dateCreated')!.dirty || editForm.get('dateCreated')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateCreated')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateCreated')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateModified">Date Modified</label>
                    <div class="d-flex">
                        <input id="field_dateModified" type="datetime-local" class="form-control" name="dateModified" formControlName="dateModified" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateModified')!.invalid && (editForm.get('dateModified')!.dirty || editForm.get('dateModified')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateModified')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateModified')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_word">Word</label>
                    <input type="text" class="form-control" name="word" id="field_word"
                           formControlName="word"/>
                    <div *ngIf="editForm.get('word')!.invalid && (editForm.get('word')!.dirty || editForm.get('word')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('word')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_game">Game</label>
                    <select class="form-control" id="field_game" name="game" formControlName="gameId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gameOption.id" *ngFor="let gameOption of games; trackBy: trackById">{{ gameOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
