<div>
    <h2 id="page-heading">
        <span>Rounds</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-round" [routerLink]="['/round/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Round
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="rounds?.length === 0">
        <span>No rounds found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="rounds?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="iteration"><span>Iteration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span>Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateModified"><span>Date Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="word"><span>Word</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gameId"><span>Game</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let round of rounds ;trackBy: trackId">
                    <td><a [routerLink]="['/round', round.id, 'view']">{{ round.id }}</a></td>
                    <td>{{ round.iteration }}</td>
                    <td>{{ round.dateCreated | date:'medium' }}</td>
                    <td>{{ round.dateModified | date:'medium' }}</td>
                    <td>{{ round.word }}</td>
                    <td>
                        <div *ngIf="round.gameId">
                            <a [routerLink]="['/game', round.gameId , 'view']" >{{ round.gameId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/round', round.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/round', round.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(round)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="rounds?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
