<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="round">
            <h2><span>Round</span> {{ round.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Iteration</span></dt>
                <dd>
                    <span>{{ round.iteration }}</span>
                </dd>
                <dt><span>Date Created</span></dt>
                <dd>
                    <span>{{ round.dateCreated }}</span>
                </dd>
                <dt><span>Date Modified</span></dt>
                <dd>
                    <span>{{ round.dateModified }}</span>
                </dd>
                <dt><span>Word</span></dt>
                <dd>
                    <span>{{ round.word }}</span>
                </dd>
                <dt><span>Game</span></dt>
                <dd>
                    <div *ngIf="round.gameId">
                        <a [routerLink]="['/game', round.gameId, 'view']">{{ round.gameId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/round', round.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
