<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="player">
            <h2><span>Player</span> {{ player.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ player.name }}</span>
                </dd>
                <dt><span>Admin</span></dt>
                <dd>
                    <span>{{ player.admin }}</span>
                </dd>
                <dt><span>Date Created</span></dt>
                <dd>
                    <span>{{ player.dateCreated }}</span>
                </dd>
                <dt><span>Date Modified</span></dt>
                <dd>
                    <span>{{ player.dateModified }}</span>
                </dd>
                <dt><span>Session</span></dt>
                <dd>
                    <div *ngIf="player.sessionId">
                        <a [routerLink]="['/session', player.sessionId, 'view']">{{ player.sessionId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/player', player.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
