<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="session">
            <h2><span>Session</span> {{ session.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{ session.code }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ session.name }}</span>
                </dd>
                <dt><span>State</span></dt>
                <dd>
                    <span>{{ session.state }}</span>
                </dd>
                <dt><span>Date Created</span></dt>
                <dd>
                    <span>{{ session.dateCreated }}</span>
                </dd>
                <dt><span>Date Modified</span></dt>
                <dd>
                    <span>{{ session.dateModified }}</span>
                </dd>
                <dt><span>Lang Key</span></dt>
                <dd>
                    <span>{{ session.langKey }}</span>
                </dd>
                <dt><span>Max Players</span></dt>
                <dd>
                    <span>{{ session.maxPlayers }}</span>
                </dd>
                <dt><span>Game</span></dt>
                <dd>
                    <div *ngIf="session.gameId">
                        <a [routerLink]="['/game', session.gameId, 'view']">{{ session.gameId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/session', session.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
