<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-session-heading">Create or edit a Session</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_state">State</label>
                    <select class="form-control" name="state" formControlName="state" id="field_state">
                        <option value="LOBBY">LOBBY</option>
                        <option value="GAME_IN_PROGRESS">GAME_IN_PROGRESS</option>
                        <option value="GAME_ENDED">GAME_ENDED</option>
                    </select>
                    <div *ngIf="editForm.get('state')!.invalid && (editForm.get('state')!.dirty || editForm.get('state')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('state')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateCreated')!.invalid && (editForm.get('dateCreated')!.dirty || editForm.get('dateCreated')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateCreated')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateCreated')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateModified">Date Modified</label>
                    <div class="d-flex">
                        <input id="field_dateModified" type="datetime-local" class="form-control" name="dateModified" formControlName="dateModified" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateModified')!.invalid && (editForm.get('dateModified')!.dirty || editForm.get('dateModified')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateModified')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateModified')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_langKey">Lang Key</label>
                    <input type="text" class="form-control" name="langKey" id="field_langKey"
                           formControlName="langKey"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_maxPlayers">Max Players</label>
                    <input type="number" class="form-control" name="maxPlayers" id="field_maxPlayers"
                           formControlName="maxPlayers"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_game">Game</label>
                    <select class="form-control" id="field_game" name="game" formControlName="gameId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gameOption.id" *ngFor="let gameOption of games; trackBy: trackById">{{ gameOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
