<div>
    <h2 id="page-heading">
        <span>Guesses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-guess" [routerLink]="['/guess/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Guess
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="guesses?.length === 0">
        <span>No guesses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="guesses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="content"><span>Content</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="score"><span>Score</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreated"><span>Date Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateModified"><span>Date Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="roundId"><span>Round</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="playerId"><span>Player</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let guess of guesses ;trackBy: trackId">
                    <td><a [routerLink]="['/guess', guess.id, 'view']">{{ guess.id }}</a></td>
                    <td>{{ guess.content }}</td>
                    <td>{{ guess.score }}</td>
                    <td>{{ guess.type }}</td>
                    <td>{{ guess.dateCreated | date:'medium' }}</td>
                    <td>{{ guess.dateModified | date:'medium' }}</td>
                    <td>
                        <div *ngIf="guess.roundId">
                            <a [routerLink]="['/round', guess.roundId , 'view']" >{{ guess.roundId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="guess.playerId">
                            <a [routerLink]="['/player', guess.playerId , 'view']" >{{ guess.playerId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/guess', guess.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/guess', guess.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(guess)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="guesses?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
