<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="guess">
            <h2><span>Guess</span> {{ guess.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{ guess.content }}</span>
                </dd>
                <dt><span>Score</span></dt>
                <dd>
                    <span>{{ guess.score }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ guess.type }}</span>
                </dd>
                <dt><span>Date Created</span></dt>
                <dd>
                    <span>{{ guess.dateCreated }}</span>
                </dd>
                <dt><span>Date Modified</span></dt>
                <dd>
                    <span>{{ guess.dateModified }}</span>
                </dd>
                <dt><span>Round</span></dt>
                <dd>
                    <div *ngIf="guess.roundId">
                        <a [routerLink]="['/round', guess.roundId, 'view']">{{ guess.roundId }}</a>
                    </div>
                </dd>
                <dt><span>Player</span></dt>
                <dd>
                    <div *ngIf="guess.playerId">
                        <a [routerLink]="['/player', guess.playerId, 'view']">{{ guess.playerId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/guess', guess.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
