<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-guess-heading">Create or edit a Guess</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_content">Content</label>
                    <input type="text" class="form-control" name="content" id="field_content"
                           formControlName="content"/>
                    <div *ngIf="editForm.get('content')!.invalid && (editForm.get('content')!.dirty || editForm.get('content')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('content')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_score">Score</label>
                    <input type="number" class="form-control" name="score" id="field_score"
                           formControlName="score"/>
                    <div *ngIf="editForm.get('score')!.invalid && (editForm.get('score')!.dirty || editForm.get('score')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('score')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('score')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="DEFAULT">DEFAULT</option>
                        <option value="HINT">HINT</option>
                    </select>
                    <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateCreated')!.invalid && (editForm.get('dateCreated')!.dirty || editForm.get('dateCreated')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateCreated')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateCreated')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateModified">Date Modified</label>
                    <div class="d-flex">
                        <input id="field_dateModified" type="datetime-local" class="form-control" name="dateModified" formControlName="dateModified" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateModified')!.invalid && (editForm.get('dateModified')!.dirty || editForm.get('dateModified')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateModified')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateModified')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_round">Round</label>
                    <select class="form-control" id="field_round" name="round" formControlName="roundId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="roundOption.id" *ngFor="let roundOption of rounds; trackBy: trackById">{{ roundOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_player">Player</label>
                    <select class="form-control" id="field_player" name="player" formControlName="playerId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="playerOption.id" *ngFor="let playerOption of players; trackBy: trackById">{{ playerOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
